<section class="container">
    <section class="formulaire col-md-4 col-md-offset-4">
        <form role="formulaire" novalidate name="creation" ng-submit="$ctrl.enregistrerUtilisateur($ctrl.utilisateur)">
            <div class="outer">
                <h3>Nouvel utilisateur</h3>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" ng-model="$ctrl.utilisateur.nom" name="nom" placeholder="Nom" required="required" class="form-control">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="col-xs-12">
                        <input type="text" ng-model="$ctrl.utilisateur.prenom" name="prenom" placeholder="Prénom" required="required" class="form-control">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="col-xs-12">
                        <input type="email" ng-model="$ctrl.utilisateur.email" name="email" placeholder="Addresse Email" required="required" class="form-control">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </div>
                    <div class="col-xs-12">
                        <input type="text" ng-model="$ctrl.utilisateur.password" name="password" placeholder="Mot de passe" required="required" class="form-control">
                        <span class="glyphicon glyphicon-lock"></span>
                    </div>
                    <div class="col-xs-12 glyphselect">
                        <select ng-model="$ctrl.utilisateur.role" ng-options="option.intitule for option in $ctrl.listeRoles track by option.id" name="role" required="required" class="form-control">
                            <option value="">Rôle</option>
                        </select>
                        <span class="glyphicon glyphicon-cog"></span>
                    </div>
                </div>
                <button type="submit" name="go" class="btn btn-block btn-info"><span class="glyphicon glyphicon-ok"></span></button>
            </div>
        </form>
    </section>
</section>