<nav class="navbar navbar-inverse" ng-if="$ctrl.state.current.url !== '/login'">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Intranet</a>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="" ng-click="$ctrl.logout()">Logout</a></li>
            <li ng-if="$ctrl.role == 'admin'"><a ui-sref="admin.creation">Créer un utilisateur</a></li>
            <li ng-if="$ctrl.role == 'RH'"><a ui-sref="rh.absences">Demandes d'absence</a></li>
        </ul>
    </div>
</nav>