<section class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <button ng-click="$ctrl.prevMonth();"> &lt; </button>
            <button ng-click="$ctrl.nextMonth();"> &gt; </button>
            <div calendar="absences" ui-calendar="$ctrl.config.calendar" ng-model="$ctrl.eventSource"></div>
        </div>
        <div ng-if="$ctrl.newEvent.showEventForm" class="col-sm-6">
            Absence le: {{ $ctrl.newEvent.start }}
            <input type="text" ng-model="$ctrl.newEvent.title" placeholder="Titre">
            <select ng-model="$ctrl.newEvent.type" ng-options="option.type_code for option in $ctrl.typeEvents track by option.id" name="type" required="required" class="form-control">
                <option value="">Type</option>
            </select>
            <button ng-click="$ctrl.addNewEvent();">Ok</button>
        </div>
    </div>
</section>